.about {
  padding: 20px;
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile img {
  height: 70px;
  margin: 0 5px 40px 5px;
}

.introduction {
  text-align: center;
}

.description {
  max-width: 1400px;
  margin: 0 auto;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 500px;
  width: 1400px;
}

.certificate {
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.certificate h3 {
  text-align: center;
}

.certificate-container {
  display: flex;
  transition: transform 0.5s ease;
}

.certificate-card {
  min-width: 100%;
  text-align: center;
}

.card-image img {
  width: 100%;
  border-radius: 8px;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  z-index: 1;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button:disabled {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

.skills .skill {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 1400px;
}

.skills .skill h3 {
  text-align: center;
}

.skill-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skill-part .one-skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.skill-part .one-skill label {
  font-size: 18px;
  display: block;
}

.skill-part .one-skill img {
  height: 50px;
  width: 50px;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-skill:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Rotation Keyframes */
@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.rotate-right {
  animation: rotateRight 10s linear infinite;
}

.rotate-left {
  animation: rotateLeft 10s linear infinite;
}

.stop {
  animation: none;
}

/* Media Queries */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .introduction h4 {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    font-size: 20px;
  }

  .skills .skill {
    min-width: 50%;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .about-title {
    flex-direction: column;
  }

  .skills {
    width: 100%;
  }

  .certificate-container {
    flex-direction: column;
    gap: 20px;
  }

  .certificate-card {
    min-width: 100%;
    margin-bottom: 20px;
  }

  button.prev,
  button.next {
    display: none;
  }

  .introduction h4 {
    width: 90%;
    font-size: 18px;
  }

  .skill-part {
    flex-direction: column;
    align-items: center;
  }

  .skills .skill {
    min-width: 90%;
  }

  .profile img {
    margin: 0 0 20px 0;
  }
}
