main {
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.dark-theme {
  color: white;
  background-color: #3c3c3c;
}

.light-theme {
  color: black;
  background-color: white;
}
