<div class="project">
  <div class="project-title">
    <h1>My Project</h1>
    <span><img src="/assets/contact-icon.png" alt="" /></span>
  </div>
  <div class="project-grid">
    @for (project of projects; track $index) {
    <a>
      <div class="card">
        <div
          class="card-image"
          [style.background-image]="'url(' + project.image + ')'"
        ></div>
        <div class="card-title">
          <p>{{ project.title }}</p>
        </div>
        <div class="card-description">
          <p>{{ project.description.desc1 }}</p>
          @if (project.description.desc2) {
          <p>{{ project.description.desc2 }}</p>
          } @if (project.description.desc3) {
          <p>{{ project.description.desc3 }}</p>
          }
        </div>
      </div>
    </a>
    }
  </div>
</div>
